@*
    Form to Edit movie entries
*@
@{
    ViewBag.Title = "Edit Entry";
}

@model Assignment3.Models.MovieModel

<div class="text-center">
    <h1>@ViewBag.Title</h1>

    <br />
    <br />

    <form asp-action="EditMovie" method="post" class="form-style-2">
        <label asp-for="Category">Category:</label>
        <select asp-for="Category">
            class="select-field" required>
            <option value="@Model.Category">Select One:</option>
            <option>Action/Adventure</option>
            <option>Comedy</option>
            <option>Drama</option>
            <option>Family</option>
            <option>Horror/Suspense</option>
            <option>Miscellaneous</option>
            <option>Television</option>
            <option>VHS</option>
        </select>
        <br />
        <br />
        <label asp-for="Title">Title:</label>
        <input asp-for="Title" class="input-field" value="@Model.Title" required />
        <br />
        <br />
        <label asp-for="Year">Year:</label>
        <input asp-for="Year" class="input-field" value="@Model.Year" required />
        <br />
        <br />
        <label asp-for="Director">Director:</label>
        <input asp-for="Director" class="input-field" value="@Model.Director" required />
        <br />
        <br />
        <label asp-for="Rating">Rating:</label>
        <select asp-for="Rating" class="select-field" required>
            <option value="@Model.Rating">Select One:</option>
            <option>G</option>
            <option>PG</option>
            <option>PG-13</option>
            <option>R</option>
            <option>TV-Y7</option>
            <option>TV-PG</option>
            <option>TV-14</option>
            <option>TV-MA</option>
        </select>
        <br />
        <br />
        <label asp-for="Edited">Edited:</label>
        <select asp-for="Edited" class="select-field">
            <option value="@Model.Edited">Select One:</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
        <br />
        <br />
        <label asp-for="LentTo">Lent To:</label>
        <input asp-for="LentTo" value="@Model.LentTo" class="input-field" />
        <br />
        <br />
        <label asp-for="Notes">Notes:</label>
        <input asp-for="Notes" maxlength="25" class="input-field" value="@Model.Notes" />
        <br />
        <br />
        <input type="submit" value="Submit Movie" id="submitButton" style="height:100px; width:150px" />
        <input type="hidden" name="Id" value="@Model.Id" />
        <div asp-validation-summary="All"></div>
    </form>

</div>