@*
    This page displays each Movie entry that has been made since the program was opened.
    You may also navigate back to add another movie.
*@

@{
    ViewBag.Title = "Movies List";
}

@model IEnumerable<MovieModel>

<div class="text-center">
    <h1>@ViewBag.Title</h1>

    <h3>Here is a List of all movies you have entered:</h3>

    <br />
    <br />

</div>

<div class="text-center">

    <table class="table table-bordered table-hover table-secondary">
        <thead >
            <tr><th>Category  </th><th>Title  </th><th>Year</th><th>Director  </th><th>Rating  </th><th>Edited  </th><th>Lent To  </th><th>Notes  </th></tr>
        </thead>
        <tbody >


            @foreach (var x in Model)
            {
                <tr>
                    <td>@x.Category</td>
                    <td>@x.Title</td>
                    <td>@x.Year</td>
                    <td>@x.Director</td>
                    <td>@x.Rating</td>
                    <td>@x.Edited</td>
                    <td>@x.LentTo</td>
                    <td>@x.Notes</td>
                    <td>
                        <form asp-action="MovieList" method="post">
                            <input type="hidden" name="Id" value="@x.Id" />
                            <button type="submit" class="btn btn-sm btn-danger">
                                Remove Movie
                            </button>
                        </form>
                    </td>
                    <td>
                        <form asp-action="EditMovie" method="get">
                            <input type="hidden" name="Id" value="@x.Id" />
                            <button type="submit" class="btn btn-sm btn-primary">
                                Edit Movie
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<br />

<div class="text-center">
    <a asp-controller="Home" asp-action="MovieInput">Add Another Movie</a>
</div>